{{#each discordUsers}}
	<div class="userPanel">
		<div class="userIcon">
			<i class="fas fa-user fa-3x"></i>
		</div>
		<div class="userInfo">
			<span>{{this.username}}</span>
		</div>
		<div class="userActions">
			<button class="btn {{#if this.muted }} btn-danger {{else}} btn-success {{/if}} userMic-btn" data-id="{{this.id}}" data-muted="{{this.muted}}">
				<i class="userMic-active {{#if this.muted }} hidden {{else}}  {{/if}} fas fa-microphone"></i>
				<i class="userMic-inactive {{#if this.muted }}  {{else}} hidden {{/if}} fas fa-microphone-slash"></i>
			</button>
		</div>
	</div>
{{/each}}