<!DOCTYPE html>
<html land="eng">
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ production }}/css/bootstrap.css" />
		<link rel="stylesheet" href="{{ production }}/css/all.min.css" />
		<link rel="stylesheet" href="{{ production }}/css/style.css" />
		<script src="{{ production }}/jquery/jquery.js"></script>
		<script src="{{ production }}/js/bootstrap.js"></script>
		<script src="{{ production }}/js/main.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Discord Bot</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="{{#if active.Home}}active{{/if}}"><a href="{{ production }}/">Home</a></li>
						<li class="{{#if active.AmongUs}}active{{/if}}"><a href="{{ production }}/AmongUs">AmongUs</a></li>
						{{#if name }}
							<li"><a href="{{ production }}/Logout">Logout</a></li>
						{{else}}
							<li class="{{#if active.Login}}active{{/if}}"><a href="{{ production }}/Login">Login</a></li>
							<li class="{{#if active.Register}}active{{/if}}"><a href="{{ production }}/Register">Register</a></li>
						{{/if}}
					</ul>
					<div class="nav navbar-right flex">	
						{{#if name }}
							<span class="navbar-brand">Welcome back, {{ name }}!</span>
						{{/if}}
					</div>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		<div class="container mainBody">
		  {{{ body }}}	
		</div>
	</body>
	<footer>	
		<div class="footer navbar-fixed-bottom">
			<p class='text-muted'>
				Built from the ground up NodeJS & Express | Copyright - John Klein - <span id='currentDate'></span> | <a href="https://johnklein.dev">Developer Site</a> | <a href="https://github.com/JohnVicious">GitHub</a>(CURRENTLY PRIVATE) | <a href="https://www.linkedin.com/in/johnkleindeveloper/">LinkedIn</a>
			</p>	
		</div>
	</footer>
	<script>
	</script>
</html>
